<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{> bootstrap}}
    {{> Style}}
    <script>
        if ({{isError}}) {
            alert("{{error}}");
        }

    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="background">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="font-family: 'Amatic SC', cursive; font-size: 25px; font-weight: bolder"><img src="http://buckscountyherald.com/clients/buckscountyherald/1-16-2019-2-11-17-PM-6960961.png" class="center2" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{{pages.[1]}}" role="button">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="#">Log In <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{pages.[0]}}" role="button">Sign Up</a>
                </li>

            </ul>

        </div>
    </nav>


        <form action="/login" method="post" class="LogColor container-fluid" style="margin-bottom: 80px">
            <div class="text-center">
            <a class="font3" > L O G I N </a>
            </div>
            <hr style="border: black solid 1px">
            <div class="form-group margin2" >
                <label class="font2">Username: </label>
                <input type="text" class="form-control" name="{{box1}}" id="{{box1}}" placeholder="Enter Username" required />

            </div>
            <div class="form-group margin2">
                <label class="font2">Password: </label>
                <input type="password" class="form-control" name="{{box2}}" id="{{box2}}" placeholder="Password" required/>
            </div>
            <div class="form-group margin2 text-center">
                or
            </div>
            <div class="form-group margin2 text-center">
                <a href="{{pages.[2]}}" role="button" class="btn btn-primary2">Sign in with Facebook</a>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" style="margin: 22px">Submit</button>
            </div>
        </form>

</body>
{{> footer}}
</html>